.article__header {
    font-size: 35px;
    max-width: 600px;
    box-shadow: lightsalmon 1px 4px 10px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    color: goldenrod;
   
  
}

.article__photo {
    border: 10px white solid;
    margin: 20px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.article__photo--portrait {
    border: 10px white solid;
    margin: 20px;
    max-width: 100%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.article__paragraph {
    text-align: justify;
    text-indent: 50px;
}
