.form {
    text-align: center;
    background-image: url(https://i.postimg.cc/DyK5ww5D/holger-link-KCf3n0-CLAtg-unsplash.jpg);
    background-position: cover;
    padding: 100px 50px 50px 50px;
    max-width: 600px;
}

.form__fieldset {
    background-color: hsl(419, 98%, 96%);
    border: hsl(43, 74%, 49%) solid 2px;
    border-radius: 8px;
    background-position: cover;
    opacity: 0.9;
}
.form__amount .form__result {
    border-radius: 4px;
    border: hsl(0, 0%, 70%) solid 1px;
    padding: 5px;
    max-width: 300px;
    width: 100%;
}

.form__legend {
    background-color: hsl(187, 33%, 76%);
    border: hsl(43, 74%, 49%) solid 2px;
    padding: 10px;
    border-radius: 8px;
   margin: 0 auto;
   font-weight: 700;
   font-size: 20px;
   width: 50%;
   letter-spacing: 0.06ex;

}

.form__labelText {
    display: inline-block;
    max-width: 150px;
    width: 100%;
}


.form__button {
    border: hsl(43, 74%, 49%) solid 2px;
    border-radius: 8px;
    background-color: rgb(236, 241, 237);
   margin-top: 20px;
   padding: 10px;
   font-weight: 700;
   font-size: 20px;
   
}


.form__button:hover {
    background-color:  hsl(187, 33%, 56%);
   
}


